@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');


:root{
    --Dark_cyan: hsl(185, 75%, 39%);
    --Very_dark_desaturated_blue: hsl(229, 23%, 23%);
    --Dark_grayish_blue: hsl(227, 10%, 46%);
    --Dark_gray: hsl(0, 0%, 59%);
}

body{
    padding: 0;
    margin: 0;
    background-color: var(--Dark_cyan);
    background-image: url(images/bg-pattern-top.svg), url(images/bg-pattern-bottom.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: right 51vw bottom 20vh, left 45vw top 50vh;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
    user-select: none ;
}

.card-container{
    margin: 40px auto 30px;
    width: 330px;
    height: 420px;
    
    position: relative;
}

.glass{
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    height: 200px;
    /* backdrop-filter: blur(3px);
-webkit-backdrop-filter: blur(3px); */
}


.photo{
    position: absolute;
    top: 0px;
    left: 18%;
   
    height: 200px;
}
.photo img{
    width: 200px;
    height: 200px;
    
    
}

.personal-data-container{
    background-color: white;
    height: 130px;
    padding: 20px 0px;
    box-sizing: border-box;
    text-align: center;
}


.name{
    font-weight: 700;
    color: var(--Very_dark_desaturated_blue);
}

.age, .city{
    color: var(--Dark_gray);
}

.city{
    margin-top: 6px;
    font-size: 14px;
}

.stats-container{
    background-color: white;
    border-top: 1px solid var(--Dark_gray);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90px;
}
.stats-container-back{
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90px;
}
.stats{
    text-align: center;
}

.numbers{
    font-weight: 700;
    margin-bottom: 3px;
    color: var(--Very_dark_desaturated_blue);
}
.units{
    font-size: 10px;
    color: var(--Dark_gray);
    letter-spacing: 2px;
}
.attribution { font-size: 15px; text-align: right; margin-right: 5px; }
.attribution a { color: white; }
.search{
    width: 330px;
    margin: 20px auto;
   

}
.input-search{
    border-radius: 0 ;
}
.shuffle{
    margin: 0 auto;
    width: 50px;
    
}
.shuffle-txt{
    color: white;
    position: relative;
    left: -9px;
    
}
.pokeball img{
    
    width: 50px;
    cursor: pointer;
    z-index: 2;
    transition: transform .2s;
    
    

}
.pokeball img:hover {

    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
/* .icon-shuffle{
    margin-top: 300px;
    color: white;
    font-size: 20px;
    backdrop-filter: blur(5px);

    
} */
.pointer-icon{
    color: white;
    font-size: 25px;
    position: absolute;
    right:10px;
}
.number-pokemon{
    color: white;
    font-size: 25px;
    position: absolute;
    left:10px;
}
.spinner-img{
    position: absolute;
    top:115px;
    left: 90px;
}
.black-filter{
    filter: brightness(0);
    -moz-transform: rotateY(-180deg);
     -o-transform: rotateY(-180deg);
     -webkit-transform: rotateY(-180deg);
     transform: rotateY(-180deg);
}

.flip-card {
    
    
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(-180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  

  
  .flip-card-back {
   
    transform: rotateY(180deg);
    color: white;
  }